################################
#          This is a           #
#        template file         #
#                              #
#     Copy it to config.py     #
#    and put your own values   #
################################

BOT_TOKEN = ""
OWNER_ID = 0
GUILD_ID = 0

LOG_MESSAGES_CHANNEL_ID = 0
LOG_MEMBERS_CHANNEL_ID = 0

R4UAB_UPDATE_CHANNEL = 0

ACTIVITY_MESSAGES = [""]
